html, body, :global(#root) {
    margin: 5px;
    background-color: black;
}

.wrapper{
	display: flex;
	flex-direction: row;
	height: 100%;
	font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;	
}

.blockContainer{
    display: flex;
    flex-direction: row;
    width: 600px;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: white;
}
.blockItem{
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 315px;
    flex: 1 1 auto;
    background-color: blue;
}

.blockItem:nth-child(1){
    border-top-left-radius: 30px;
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: #0181EF;
}

.blockItem:nth-child(2){
    border-top-right-radius: 30px;
    margin-bottom: 1%;
    background-color: #339BF2;
}

.blockItem:nth-child(3){
    border-bottom-left-radius: 30px;
    margin-right: 1%;
    background-color: #66B4F4;
}

.blockItem:nth-child(4){
    border-bottom-right-radius: 30px; 
    background-color: #B1D8F9; 
}


.chartContainer{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.imgTemperature,.imgLightness{
    width: 110px;
    height: 110px;
    position: relative;
    margin-top: 50%;
    margin-left: 5%;
}


.imgHumadity, .imgPressure{
    width: 110px;
    height: 110px;
    margin-top: 50%;
    margin-right: 5%;
}

.LeftDescriptionPartOfBlock{
    width: 60%;
    display: block;
    flex: 1 1 auto;
    color: white;
    font-size: 20px;
    margin-left: 5%;
    position: relative;
    height: 100%;
    line-height: 2
}

.RightDescriptionPartOfBlock{
    width: 60%;
    display: block;
    flex: 1 1 auto;
    color: white;
    font-size: 20px;
    height: 100%;
    .nameOfParametar{ 
        float: right;
        line-height: 2} 
}

.ImagePartOfBlock{
    width: 40%;
    display: block;
    flex: 1 1 auto;
}

.nameOfParametar{
    display: block;
    padding-bottom: 10px;
    margin-top: 90px;
}

.centerItem{
    background-color: green;
    margin: 0 auto;
    height: 120px;
    width: 150px; 
    position: relative;
}

.middleBlock{
    height: 100%;
    width: 600px;
    position: absolute;
    margin: 0 auto;
}

.middleBlockInside{
    margin: 0 auto;
    height: 150px;
    width: 200px;
    background-color: #0068BD;
    border-radius: 30px;
    border-width: 8px;
    border-style: solid;
    border-color: white;
    margin-top: 237.5px;

}

.imgPeople{
    width: 100px;
    position: absolute;
    margin-top: -65px;
    margin-left: 50px;
}

.conferenceRoom{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    line-height: 1.1
}

.roomTemperature{
   
    flex-grow: 1;
}

.roomPressure{
  
    flex-grow: 1;
}

.chartDescription{
    color: #5E5E60;
    text-align: center;
    margin-top: 30px;
}

.chart{
    color: white;
}

.settingsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.buttons{
    margin-left: 100px;
    display: flex;
    align-items: center
}

.buttonStart{
    font-weight: 500;
}


.buttonReset{
    margin-left: 30px;
    margin-left: 20px;
    font-weight: 500;
}

.leftContainer{
    display: inline-block;
    width: 600px;
}

.middleContainer{
    margin-left: 10px;
    display: inline-block;
    width: 120px;
}

.rightContainer{
    display: inline-block;
    width: 530px;
}

.numberOfPeopleDisplayed{
    color: white;
    text-align: center;
    margin-top: -12px;
    font-size: 33px;
}


